$btn-sm-background : #8000b2e6;
$btn-background:#5200df;
@mixin btn {
    border: none;
    border-radius: 0.25rem;
    color: white;
}
@mixin links{
  a {
    color: #707070;
    text-decoration: none;
    transition: all .1s ease;

    &:hover {
        color: $btn-background
    }

 }
}
.btn-star{
    @include btn();
    background-color: $btn-background;
    padding: 0.25rem 2rem;
    font-weight: 300;
    font-size: 1.25rem;
    width: 17rem;
    margin-top: 2.5rem;
    height: 3rem;
   
    &-s{
        @include btn();
        background-color:$btn-sm-background;
        padding: 0.25rem 1.5rem;
        font-weight: 600;
       
        
        &:hover{
            background-color: #9c29c9;
        }

    }
    &:hover{
        background-color: #5725ac;
    }

}
.main-menu{
    margin-bottom: 0;
    li {
        font-size: 1 rem;
        list-style: none;
        display: inline;
        margin-right: 2rem;
        @include links();
        
    }
}
.header-banner{
   
    height:2rem ;
    text-align: center;
    width: 100%;
    background: radial-gradient(circle, rgba(27,0,75,1) 0%, rgba(76,0,125,1) 42%, rgba(127,0,178,1) 63%);

    & a{
        text-decoration: none;
        color: aliceblue;
        font-weight: 100;
        font-size: 1rem;
    }


}
.box{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%)

}

.dropping-texts {
    display: block;
    width: 180px;
    text-align: left;
    height: 36px;
    color:$btn-sm-background;
    margin-bottom: 1.75rem;
}
  
.dropping-texts > div {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    position:absolute;
    font-weight:500;   
   
  }
  
.dropping-texts > div:nth-child(1) {
    animation: roll 5s linear infinite 0s;
  }
.dropping-texts > div:nth-child(2) {
    animation: roll 5s linear infinite 1s;
  }
.dropping-texts > div:nth-child(3) {
    animation: roll 5s linear infinite 2s;
  }
.dropping-texts > div:nth-child(4) {
    animation: roll 5s linear infinite 3s;
  }
.dropping-texts > div:nth-child(5) {
    animation: roll 5s linear infinite 4s;
  }
  
  
  
@keyframes roll {
    0% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity:1;
      transform: rotate(0deg);
    }
    5% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
    }
    20% {
      font-size:inherit;
      opacity:1;
      margin-left:0px;
      margin-top:0px;
      transform: rotate(0deg);
    }
    27% {
      font-size:0px;
      opacity:0.5;
      margin-left:20px;
      margin-top:100px;
    }
    100% {
      font-size:0px;
      opacity:0;
      margin-left:-30px;
      margin-top:0px;
      transform: rotate(15deg);
    }
  }

  
  
.title{
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 700;
    color:rgba(71,83,107,1) ;
    max-width: 40rem;
    h2{
        font-size: 2.25rem;
        line-height: 4.2rem;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        letter-spacing: -.1rem;

    }
    span{
        color:$btn-sm-background
    }
    
  }

    

.cont{
    max-width: 40rem;
    display: flex;
    text-align: center;
    justify-content: center;
    .cont-text{
      padding: 2rem;
      text-align: start;
      .cont-title{
        
        & h6{
          color:$btn-background;
          font-size: 1.5rem;
          font-weight: 700;
        }
        & a{
          text-decoration: none;
          color: #47536b;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }
      .cont-description{
        & p{
          font-size: 1rem;
          font-weight: 700;
          & a{
            text-decoration: none;
            color: $btn-background;
            
          }
        }
        & ul{
          padding-left: 0px;
          font-weight: 500;
        }
      }

      
    }
   
    
    .cont-img{
      & img{
        max-width: 700px;
        padding: 5rem 0rem 0rem 7rem;
        

      }
      
    }

  }
  .nav-tabs{
    border: none;
    .nav-link{
      border: none;
      color:#47536b;
      &:hover{
        color: $btn-background;
        border-bottom: 1px solid $btn-background;
      }
      &:focus{
        color: $btn-background;
        border-bottom: 1px solid $btn-background;
        
      }
      
      
    }
}
.car{
  max-width: 100%;
  .carousel{
    max-width: 50rem;
    .carousel-item{
      & img{
        max-width: 50rem;
        background-color: #5200df
      }

    }
    
  }

}

.footer-col{
  padding-top: 2rem;
  & ul{
    @include links();
    list-style: none;
    padding-left: 0rem;

  }
  & h3{
    color: $btn-background;
  }
  
}

.super-form{
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  .img{
      position: absolute;
      top: 97px;
      left: calc(50% + 80px);
      width: 300px;
      height: auto;
      & span{
          font-size: 1.5rem;
      }
      & img{
          max-width: 7rem;
      }
      
      

  }
  
}
.google-button{
  font-weight: 500;
  font-size: 1rem;
  color: #47536b;
  background-color:#fff;
  border:none;
  border: 1px solid #47536b;
  min-width:17rem;
  min-height: 2.5rem;
}

.prom-cards{
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  
  .card{
    transition: all 0.5s;
     
      max-width: 18rem;
      border: 2px solid #e4e9f6;

      color: #47536b;
      & p{
          font-size: 1.5rem;
          font-weight: 500;
      }
      & h3{
        font-size: 2.5rem;
        font-weight: 500;
      }
  }
  .content-card{
      padding-left: 2rem;
      padding-bottom: 2rem;
  }
  .card-pro{
   
    
      
      
      & h3{
        color: $btn-sm-background;

      }
      &:hover{
        
        min-height: 27rem;
        border: 2px solid $btn-background;
        
      }

      
  }
  .card-pyme{
      border-right: none;
      & h3{
          color: $btn-background;

      }
      &:hover{
        min-height: 27rem;
        border: 2px solid $btn-background;
      }

  }
  .card-plus{
      border-left: none;
      & h3{
        color:#5725ac

      }
      &:hover{
        min-height: 27rem;
        border: 2px solid $btn-background;
      }

  }
  .card-extra{
    max-width: 20rem;
    & h3{
      color:#47536b;
      font-size: 2rem;
      

    }
    &:hover{
      min-height: 25rem;
      border: 2px solid #47536b;
    }

  }
  ul{
      @include links();
      list-style: none;
      padding-left: 0rem;
  }
  
}

