@use "components";

.sec-contact{
    width: 100%;
    padding:1rem;
    margin:auto;
    
}
.sec-title-contact{
    #gradient-canvas {
        width: 100%;
        height: 65rem;
        --gradient-color-1: #3F0C5C;
        --gradient-color-2: #A43BE1;
        --gradient-color-3: #951DDB;
        --gradient-color-4: #7315A8;
        z-index: 0;
      }
      .contact-container {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgb(255 255 255 / 26%);
          border-radius: 10px;
          border: 1px solid rgb(255 255 255 / 15%);
          position: absolute;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          font-size: 1.25rem;
          padding: 2rem;
          
          
          line-height: 1.4;
      }
}

.contact-container{

    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
    width: 80%;
   
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);

    .contact-form{
        .contact-text{
            text-align: center;
        }
       .form-check-label{
        font-size: 1rem;
       }
        
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex-grow:1 ;
        max-width: 50rem;
       
    }
    
    
    strong{
        color: components.$btn-background;
    }

   
   
    
    
}
@media(max-width:768px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}