@use"components";
@use"globals";


.sec-home-prom{
    @include globals.section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(220,204,249,1) 14%, rgba(27,0,75,1) 100%);
    position: relative;
    
    
    
  
       
    .home-content-prom{
        @extend .sec-home-prom;
        width: 100%;
        
       
       
       
        p{
            color: #131519;
            font-size: 400;
            span{
                font-weight: 700;
            }
        }
    }

    .home-text-prom{
        text-align: center;
        color:#47536b;
        
        
       
        span{
            font-size: 1.5rem;
        }
        
        h1{
            font-size: 2.5rem;
            font-weight: 500;
            

        }
    }

}
.sec-prom-cards{
    padding-top: 4rem;
}
.prom-container{
   
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .prom-sup{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem;
        .dropdown{
            padding-bottom: 0px;
        }
    }
    
    

}
.d-text{
    padding: 4rem;
    text-align: center;
}

.custom-shape-divider-bottom-1673555373 {
    position: absolute;
    top: 7rem;
    bottom: -1.25rem;
    left: -4rem;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
   
}

.custom-shape-divider-bottom-1673555373 svg {
    position: relative;
    display: block;
    width: calc(100% + 20px);
    height: 120px;
}

.custom-shape-divider-bottom-1673555373 .shape-fill {
    fill: #FFFFFF;
}

@media (max-width: 768px){
    .prom-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        .card{
            border: 2px solid #e4e9f6;
            min-width: 30rem;
        }
    }

}
