.header-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 1s;
}
.header-contact .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
}

.logo a img {
  max-width: 8rem;
  background-color: white;
}

.home-sec {
  padding-top: 6rem;
  padding-left: 2rem;
}

.sec-home {
  width: 100%;
  padding: 1rem 4rem;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.sec-home .home-img {
  max-width: 400px;
}
.sec-home .home-img img {
  max-height: 400px;
  max-width: 1200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.sec-home .home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  color: #47536b;
}
.sec-home .home-text span {
  font-size: 1.5rem;
}
.sec-home .home-text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.sec-solutions {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-pos-background {
  background-color: #47536b;
}

.btn-star {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #1b004b;
  padding: 0.25rem 2rem;
  font-weight: 300;
  font-size: 1.25rem;
  width: 17rem;
  margin-top: 2.5rem;
  height: 3rem;
}
.btn-star-s {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: rgba(128, 0, 178, 0.7176470588);
  padding: 0.25rem 1.5rem;
  font-weight: 600;
}
.btn-star-s:hover {
  background-color: rgba(128, 0, 178, 0.9215686275);
}
.btn-star:hover {
  background-color: #5725ac;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: 1 rem;
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.main-menu li a {
  color: #707070;
  text-decoration: none;
  transition: all 0.1s ease;
}
.main-menu li a:hover {
  color: #1b004b;
}

.header-banner {
  height: 2rem;
  text-align: center;
  width: 100%;
  background: radial-gradient(circle, rgb(27, 0, 75) 0%, rgb(76, 0, 125) 42%, rgb(127, 0, 178) 63%);
}
.header-banner a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 100;
  font-size: 1rem;
}

.box {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.dropping-texts {
  display: block;
  width: 180px;
  text-align: left;
  height: 36px;
  color: rgba(128, 0, 178, 0.7176470588);
  margin-bottom: 1.75rem;
}

.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: 500;
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}

.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}

.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

.dropping-texts > div:nth-child(4) {
  animation: roll 5s linear infinite 3s;
}

.dropping-texts > div:nth-child(5) {
  animation: roll 5s linear infinite 4s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
.title {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700;
  color: rgb(71, 83, 107);
  max-width: 40rem;
}
.title h2 {
  font-size: 2.25rem;
  line-height: 4.2rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: -0.1rem;
}
.title span {
  color: rgba(128, 0, 178, 0.7176470588);
}

.solutions a:hover {
  border-bottom: solid 2px #1b004b;
  background: transparent;
}

.nav-img {
  padding-top: 10rem;
  width: 600px;
}

/*# sourceMappingURL=style.css.map */
