@charset "UTF-8";
.header-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 1s;
}
.header-contact .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  flex-wrap: nowrap;
}

.logo a {
  text-decoration: none;
  color: #47536b;
  font-size: 1rem;
  font-weight: 700;
}
.logo a img {
  max-width: 4rem;
  background: transparent;
}

.home-sec {
  padding-top: 6rem;
  padding-left: 2rem;
}

.sec-home {
  width: 100%;
  padding: 1rem 4rem;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  overflow: hidden;
}
.sec-home .home-img {
  max-width: 400px;
}
.sec-home .home-img img {
  max-height: 400px;
  max-width: 1200px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}
.sec-home .home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  color: #47536b;
}
.sec-home .home-text span {
  font-size: 1.5rem;
}
.sec-home .home-text h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.sec-solutions {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-pos {
  max-width: 75rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(Landing-page\a ssetsimg஬kground-banner.webp);
  background: radial-gradient(circle, rgb(153, 146, 166) 0%, rgb(238, 223, 241) 77%);
}
.sec-pos .text-post {
  padding: 1.5rem;
  color: #47536b;
}
.sec-pos .text-post h3 {
  font-size: 2rem;
  font-weight: 700;
}
.sec-pos .text-post p {
  font-size: 1.25rem;
}
.sec-pos .text-post button {
  height: 2.5rem;
}

.sec-test {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}
.sec-test h2 {
  color: #47536b;
  font-weight: 700;
}

footer {
  padding-top: 2rem;
}

.footer-wrapper {
  margin-top: 2rem;
  border-top: 0.5px solid #47536b;
  width: 100%;
}

.copiright-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.copiright-container a {
  display: block;
}

@media (max-width: 1024px) {
  .sec-home {
    max-width: 100%;
    flex-direction: column;
    padding-top: 7rem;
    justify-items: center;
    align-content: center;
  }
  .sec-home .text-img {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .sec-home .home-content button {
    margin-left: 6rem;
  }
  .sec-home .home-img {
    display: block;
    width: 100%;
    min-height: 400px;
    margin-top: 2rem;
  }
  .sec-home .home-img img {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 400px;
    max-height: 400px;
  }
  .sec-home .home-text {
    display: block;
    padding-left: 2rem;
  }
  .sec-solutions .cont-img {
    display: none;
  }
  .footer-wrapper {
    padding: 1rem 2rem;
  }
}
@media (max-width: 612px) {
  .home-img img {
    display: none;
  }
}
.btn-star {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #5200df;
  padding: 0.25rem 2rem;
  font-weight: 300;
  font-size: 1.25rem;
  width: 17rem;
  margin-top: 2.5rem;
  height: 3rem;
}
.btn-star-s {
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: rgba(128, 0, 178, 0.9019607843);
  padding: 0.25rem 1.5rem;
  font-weight: 600;
}
.btn-star-s:hover {
  background-color: #9c29c9;
}
.btn-star:hover {
  background-color: #5725ac;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: 1 rem;
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.main-menu li a {
  color: #707070;
  text-decoration: none;
  transition: all 0.1s ease;
}
.main-menu li a:hover {
  color: #5200df;
}

.header-banner {
  height: 2rem;
  text-align: center;
  width: 100%;
  background: radial-gradient(circle, rgb(27, 0, 75) 0%, rgb(76, 0, 125) 42%, rgb(127, 0, 178) 63%);
}
.header-banner a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 100;
  font-size: 1rem;
}

.box {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.dropping-texts {
  display: block;
  width: 180px;
  text-align: left;
  height: 36px;
  color: rgba(128, 0, 178, 0.9019607843);
  margin-bottom: 1.75rem;
}

.dropping-texts > div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: 500;
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}

.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}

.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

.dropping-texts > div:nth-child(4) {
  animation: roll 5s linear infinite 3s;
}

.dropping-texts > div:nth-child(5) {
  animation: roll 5s linear infinite 4s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
.title {
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 700;
  color: rgb(71, 83, 107);
  max-width: 40rem;
}
.title h2 {
  font-size: 2.25rem;
  line-height: 4.2rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  letter-spacing: -0.1rem;
}
.title span {
  color: rgba(128, 0, 178, 0.9019607843);
}

.cont {
  max-width: 40rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.cont .cont-text {
  padding: 2rem;
  text-align: start;
}
.cont .cont-text .cont-title h6 {
  color: #5200df;
  font-size: 1.5rem;
  font-weight: 700;
}
.cont .cont-text .cont-title a {
  text-decoration: none;
  color: #47536b;
  font-size: 2.5rem;
  font-weight: 700;
}
.cont .cont-text .cont-description p {
  font-size: 1rem;
  font-weight: 700;
}
.cont .cont-text .cont-description p a {
  text-decoration: none;
  color: #5200df;
}
.cont .cont-text .cont-description ul {
  padding-left: 0px;
  font-weight: 500;
}
.cont .cont-img img {
  max-width: 700px;
  padding: 5rem 0rem 0rem 7rem;
}

.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
  color: #47536b;
}
.nav-tabs .nav-link:hover {
  color: #5200df;
  border-bottom: 1px solid #5200df;
}
.nav-tabs .nav-link:focus {
  color: #5200df;
  border-bottom: 1px solid #5200df;
}

.car {
  max-width: 100%;
}
.car .carousel {
  max-width: 50rem;
}
.car .carousel .carousel-item img {
  max-width: 50rem;
  background-color: #5200df;
}

.footer-col {
  padding-top: 2rem;
}
.footer-col ul {
  list-style: none;
  padding-left: 0rem;
}
.footer-col ul a {
  color: #707070;
  text-decoration: none;
  transition: all 0.1s ease;
}
.footer-col ul a:hover {
  color: #5200df;
}
.footer-col h3 {
  color: #5200df;
}

.super-form {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
}
.super-form .img {
  position: absolute;
  top: 97px;
  left: calc(50% + 80px);
  width: 300px;
  height: auto;
}
.super-form .img span {
  font-size: 1.5rem;
}
.super-form .img img {
  max-width: 7rem;
}

.google-button {
  font-weight: 500;
  font-size: 1rem;
  color: #47536b;
  background-color: #fff;
  border: none;
  border: 1px solid #47536b;
  min-width: 17rem;
  min-height: 2.5rem;
}

.prom-cards {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.prom-cards .card {
  transition: all 0.5s;
  max-width: 18rem;
  border: 2px solid #e4e9f6;
  color: #47536b;
}
.prom-cards .card p {
  font-size: 1.5rem;
  font-weight: 500;
}
.prom-cards .card h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.prom-cards .content-card {
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.prom-cards .card-pro h3 {
  color: rgba(128, 0, 178, 0.9019607843);
}
.prom-cards .card-pro:hover {
  min-height: 27rem;
  border: 2px solid #5200df;
}
.prom-cards .card-pyme {
  border-right: none;
}
.prom-cards .card-pyme h3 {
  color: #5200df;
}
.prom-cards .card-pyme:hover {
  min-height: 27rem;
  border: 2px solid #5200df;
}
.prom-cards .card-plus {
  border-left: none;
}
.prom-cards .card-plus h3 {
  color: #5725ac;
}
.prom-cards .card-plus:hover {
  min-height: 27rem;
  border: 2px solid #5200df;
}
.prom-cards .card-extra {
  max-width: 20rem;
}
.prom-cards .card-extra h3 {
  color: #47536b;
  font-size: 2rem;
}
.prom-cards .card-extra:hover {
  min-height: 25rem;
  border: 2px solid #47536b;
}
.prom-cards ul {
  list-style: none;
  padding-left: 0rem;
}
.prom-cards ul a {
  color: #707070;
  text-decoration: none;
  transition: all 0.1s ease;
}
.prom-cards ul a:hover {
  color: #5200df;
}

.staff {
  height: 100vh;
  width: 404px;
  background: radial-gradient(circle, rgb(27, 0, 75) 0%, rgb(76, 0, 125) 42%, rgb(127, 0, 178) 63%);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
  overflow-y: auto;
}

.register {
  display: flex;
}

.form-user {
  width: 374px;
  margin-left: calc(65% - 150px);
  margin-top: 60px;
  padding: 5px;
}
.form-user form {
  max-width: 20rem;
}
.form-user button {
  margin-left: 25px;
}

.text-form {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #47536b;
  margin-top: 250px;
  padding-left: 460px;
}

@media (max-width: 992px) {
  .super-form {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-right: 10rem;
  }
  .staff {
    display: none;
  }
  .logo .img {
    display: block;
    position: absolute;
    top: 150px;
    left: calc(50% - 10px);
    width: 150px;
    height: auto;
  }
  .text-form {
    height: 100px;
    display: block;
    font-size: 0rem;
  }
}
.sec-home-prom, .sec-home-prom .home-content-prom {
  width: 100%;
  padding: 1rem 4rem;
  margin: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0F8FF;
}
.sec-home-prom .home-content-prom p {
  color: #47536b;
  font-size: 400;
}
.sec-home-prom .home-content-prom p span {
  font-weight: 700;
}
.sec-home-prom .home-text-prom {
  text-align: center;
  color: #47536b;
}
.sec-home-prom .home-text-prom span {
  font-size: 1.5rem;
}
.sec-home-prom .home-text-prom h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.sec-prom-cards {
  padding-top: 4rem;
}

.prom-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.prom-container .prom-sup {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.prom-container .prom-sup .dropdown {
  padding-bottom: 0px;
}

.d-text {
  padding: 4rem;
  text-align: center;
}

.custom-shape-divider-bottom-1673469950 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673469950 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 166px;
}

.custom-shape-divider-bottom-1673469950 .shape-fill {
  fill: #FFFFFF;
}

@media (max-width: 768px) {
  .prom-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prom-cards .card {
    border: 2px solid #e4e9f6;
    min-width: 30rem;
  }
}
.contact-container {
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  background-color: aliceblue;
  width: 50rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.contact-container .contact-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.contact-container .contact-test {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: flex-start;
  min-width: 30rem;
}
.contact-container strong {
  color: #5200df;
}

@media (max-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
